nav {
  font-family: 'Handlee', cursive;
}

.custom_font {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 26px;
  color: white; 
}

.custom_font2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

.custom_font3 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 23px;
}

.container {
  width: 100%;
}

.links {
  width: 400px;
  background-color: white;
  opacity: 0.7;
  border-radius: 8px;
  margin-top: 20px;
}

.about {
  text-align: center;
}

.bg_top {
  text-align: center;
}

.about1 {
  background-image: url('../Images/about.jpg');
}

.ul {
  text-align: center;
}

/* social media buttons*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;

}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

img {
    width:150px;
    height:200px;
    object-fit:contain;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 2;

}

.bg-img {
    width:auto;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bg-img--contact{
  background-image: url('../Images/about.jpg');
}
