.image-humans {
  max-height: 200px
}
.custom_font {
  font-family: 'Shadows Into Light', cursive;
font-weight: bold;
}
nav{
  font-family: 'Handlee', cursive;
}
.custom_font2 {
  font-family: 'Shadows Into Light', cursive;
}
