.custom_font {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}
nav{
  font-family: 'Handlee', cursive;
}
.custom_font2 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 16px;
}
.custom_font3 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 26px;
}

.bgtop{
  text-align: center;
  font-size: 50px;
}

.bg-img {
    width:auto;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bg-img--london1{
  background-image: url('../Images/ballpit.jpg');
}

.bg-img--london2{
  background-image: url('../Images/london5.jpg');
}

.bg-img--london3{
    background-image: url('../Images/london6.jpg');

}

.bg-img--london4{
    background-image: url('../Images/london8.jpg');

}

.bg-img--london5{
    background-image: url('../Images/london7.jpg');

}

.bg-img--london6{
    background-image: url('../Images/london4.jpg');

}
.links {
  width: 400px;
  background-color: white;
  opacity: 0.7;
  border-radius: 8px;
  margin-top: 20px;
}

.links:hover ol {
  opacity: 1;
}

.links ol {
  opacity: 0.3;
}
