nav{
  font-family: 'Handlee', cursive;
}

.custom_font {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 26px;
}

.custom_font2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 16px;
}

.custom_font3 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

.bg-img {
    width:auto;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item {
  color: black;
  font-size: 20px;
}

.top_links {
  background: url("../Images/NYC_background_image.jpg");
}

.brooklyn_bridge {
  background: url("../Images/brooklynbridge2.jpg");
}

.central_park {
  background: url("../Images/centralpark2.jpg");
}

.time_square {
  background: url("../Images/timesquare.jpg");
}

.bg_top {
  text-align: center;
}

.links {
  width: 400px;
  background-color: white;
  opacity: 0.7;
  border-radius: 8px;
  margin-top: 20px;
}

.links:hover ol {
  opacity: 1;
}

.links ol {
  opacity: 0.3;
}
.links:hover ul {
  opacity: 1;
}

.links ul {
  opacity: 0.3;
}
