.custom_font {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 35px;
}
nav{
  font-family: 'Handlee', cursive;
}
.custom_font2 {
  font-family: 'Shadows Into Light', cursive;
}
body {
  background-color: #696969;
}
h1 {
  background-color: #696969;
  color: white;
  text-align: center;
}

h2 {
  color: #696969;
  font-size: 25px;
  font-style: italic;
}

.item {

}
.top_links {
  background: url("../Images/NYC_background_image.jpg");
  width: 100%;
}
.brooklyn_bridge {
  background: url("../Images/brooklynbridge.jpg");
  width: 100%;
}
.central_park {
  background: url("../Images/centralpark.jpg");
  width: 100%;
}
.time_square {
  background: url("../Images/timesquare.jpg");
  width: 100%;
}
.container {
  height: 350px;
  text-align: 
}
